:root {
    --header-height: 70px;
    --side-menu-width: 160px;
}

body {
    background-color: black;
}

/* HEADER */

header {
    height: var(--header-height);
}

header .searchBar {
    width: calc(100% - 320px);
}

header .searchBar input[type="text"] {
    padding: 9px 4px 9px 40px;
    background: transparent url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48IS0tISBGb250IEF3ZXNvbWUgRnJlZSA2LjIuMSBieSBAZm9udGF3ZXNvbWUgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbSBMaWNlbnNlIC0gaHR0cHM6Ly9mb250YXdlc29tZS5jb20vbGljZW5zZS9mcmVlIChJY29uczogQ0MgQlkgNC4wLCBGb250czogU0lMIE9GTCAxLjEsIENvZGU6IE1JVCBMaWNlbnNlKSBDb3B5cmlnaHQgMjAyMiBGb250aWNvbnMsIEluYy4gLS0+PHBhdGggZD0iTTQxNiAyMDhjMCA0NS45LTE0LjkgODguMy00MCAxMjIuN0w1MDIuNiA0NTcuNGMxMi41IDEyLjUgMTIuNSAzMi44IDAgNDUuM3MtMzIuOCAxMi41LTQ1LjMgMEwzMzAuNyAzNzZjLTM0LjQgMjUuMi03Ni44IDQwLTEyMi43IDQwQzkzLjEgNDE2IDAgMzIyLjkgMCAyMDhTOTMuMSAwIDIwOCAwUzQxNiA5My4xIDQxNiAyMDh6TTIwOCAzNTJjNzkuNSAwIDE0NC02NC41IDE0NC0xNDRzLTY0LjUtMTQ0LTE0NC0xNDRTNjQgMTI4LjUgNjQgMjA4czY0LjUgMTQ0IDE0NCAxNDR6Ii8+PC9zdmc+") no-repeat 13px center;
    background-size: 18px;
}

/* MAIN */

/* side menu */

section#sideMenu {
    width: var(--side-menu-width);
    height: calc(100vh - var(--header-height));
    background-image: url(../img/sidebar-bg.png);
    background-color: #0e2336;
}

/* content */

section#content {
    background-color: red; /* debug color */
    position: absolute;
    left: var(--side-menu-width);
    top: var(--header-height);
    width: calc(100vw - var(--side-menu-width));
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
}
